@import "tailwindcss";
@import "@fontsource/great-vibes";


/* Fuente base moderna */
body {
  font-family: 'Miller Display', serif;
  margin:0;
  padding:0;
}


/* Fuente elegante para títulos románticos */
.font-great-vibes {
  font-family: 'Great Vibes', cursive;
}

/* Fuente clásica para secciones de elegancia */
.font-playfair {
  font-family: 'Playfair Display', serif;
}

/* Fuente manuscrita con estilo artístico */
.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.font-miller {
  font-family: 'Miller Display', serif;
  font-weight: 200;
}


@font-face {
  font-family: 'Miller Display';
  src: url('../css/miller-display/fonnts.com-Miller_Display_Bold.otf') format('opentype');
  font-weight: 400;
  font-style: bold;
}
@font-face {
  font-family: 'Miller Display';
  src: url('../css/miller-display/fonnts.com-Miller_Display_Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Miller Display';
  src: url('../css/miller-display/fonnts.com-Miller_Display_Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Miller Display';
  src: url('../css/miller-display/fonnts.com-Miller_Display_Bold.otf') format('opentype');
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: 'Miller Display';
  src: url('../css/miller-display/fonnts.com-Miller_Display_Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
